@{
    ViewData["Title"] = "Home Page";
}

<div class="home-img center">
    <img id="porto-img" src="images/porto1.png" />
</div>

<div class="text-center center">
    <h1 class="display-4 font-italic">Restaurant Ribeira</h1>
    <p class="w-40 center">Welcome to this Restaurant Web App featuring the fictional Restaurant Ribeira!</p>
    <br />
    <p class="w-40 center">The website is built with two different types of users in mind: the regular user/customer and the admin/restaurant staff.
</div>
