@{
    ViewData["Title"] = "Home Page";
}

<div class="home-img center">
    <img id="porto-img" src="images/porto1.png" />
</div>

<div class="text-center center">
    <h1 class="display-4 font-italic">Restaurant Ribeira</h1>
    <p class="w-40 center">Welcome to this Restaurant Web App featuring the fictional Restaurant Ribeira!</p>
    <br />
    <p class="w-40 center">The website is built with two different types of users in mind. Firstly this site is built with the customer in mind.</p>
    <br/>
    <p class="w-40 center"> The site enables the customer to read about the restaurant, view the restaurant's current menu and, by createing an account, making table reservations. Assuming the customer has made one or more reservations, the customer can view and manage reservations made from the same account.'</p>
    <br />
    <p class="w-40 center">This site also targets the restaurant manager and/or staff.</p>
    <br />
    <p class="w-40 center">This website was built using ASP.NET MVC.</p>
</div>
